<!-- <h1>Welcome to Home Page</h1> 

<h1>Welcome to Home Page, {{name}}</h1> 
<h1>First Project Page</h1> 

-->

<!-- movie/templates/home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <style>
        .name {
            color: red;  /* Cambia 'red' por el color que prefieras */
        }
    </style>
</head>
<body>
    <h1>Welcome to Home Page</h1>
    <h1>My name is, <span class="name">{{ name }}</span></h1>
</body>
</html>
